//customized bootstrap
$font-family-sans-serif: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
//import boostrap from node module
@import "../node_modules/bootstrap/scss/bootstrap";

//all custome css code
body{
    background-color: #f6f6f6;
    width:100vw;
    min-height: 100vh;
    
}

.custome-dropdown {
    position: relative;
}
.custome-dropdown:hover ul{
    display: block;
    li:hover{
        text-decoration: underline;
        transform: translateX(8px);
    }
}
.custome-dropdown ul{
    display: none;
    min-width: 100px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    padding:0.8rem;
    border-radius: 0.15rem;
    margin-top: 0.5rem;
    transition: 0.3s linear;

    li{
        margin-bottom: 0.3rem;
        transition: 0.3s linear;
    }
}
.li-bar{
    width:1px;
    height: 15px;
    background-color: #d5d4d4;
}
.nav-icon{
    font-size: 23px;
    color:#8f8f8f;
}

#main-carousel .carousel-inner{
    height: 500px;
}

.carousel-control-prev{
    left:-5rem;
}
.carousel-control-next{
    right:-5rem;
}
.carousel-control-prev,
.carousel-control-next{
    filter: invert(100%);
}

.slider-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;

    .slider-text h3{
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        letter-spacing: 1px;
    }
    .slider-text h1{
        font-size: 72px;
        line-height: 97px;
        margin: 15px 0 38px;
        color: #010101;
        font-weight: 400;
    }
}
.shop-now-btn{
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    padding: 19px 50px;
    text-transform: uppercase;
    color: #010101;
    border: 1px solid #333;
}